@charset "UTF-8";
@font-face {
  font-family: 'Century Gothic';
  src: url('../fonts/Century_Gothic_Bold-webfont.eot');
  src: url('../fonts/Century_Gothic_Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Century_Gothic_Bold-webfont.woff2') format('woff2'),
       url('../fonts/Century_Gothic_Bold-webfont.woff') format('woff'),
       url('../fonts/Century_Gothic_Bold-webfont.ttf') format('truetype'),
       url('../fonts/Century_Gothic_Bold-webfont.svg#century_gothicbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'Century Gothic Regular';
    src: url('../fonts/Century_Gothic_Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
h1,h2,h3,h4,h5,h6,p{
    font-family: 'Century Gothic', sans-serif;
}
#stage1{
    background-image: url(../img/img-fondo1.jpg);
    min-height: 640px;

}
#stage1_footer{
    bottom: 0;
    top: 100px;
}

#stage1_footer_1{
    bottom: 0;
    right: 0;
}
#stage1_footer_2{
    bottom: 210px;
    right: -2px;
}
#stage1_footer_3{
    bottom: 0;
    left: -4px;
}
#stage1_mensage{
    top:380px;
    left: 90px;
    width: 650px;
    height: 200px;
}

#stage2{
    background-image: url(../img/img-2.jpg);
    min-height: 640px;
    width: 100%;
}

#stage2_title1{
    font-family: 'Century Gothic';
    color: #FFF;
    width: 250px;
    top: 60px;
    left: 190px;
    font-size: 1rem;
}
#stage2_img1{
    top: 80px;
    left: 80px;  
}
#stage2_img2{
    top: 50px;
    right: 370px;  
}
#stage2_title2{
   
    color: #000;
    width: 350px;
    top: 120px;
    right: 80px;
    font-size: .9rem;
    
}
#stage2_title2 p{
    font-family: 'Century Gothic Regular';
    position: static;
    font-style: italic;
}
#stage2_title3{
    font-family: 'Century Gothic';
    color: #FFF;
    text-align: right;
    display: flex;
    flex-direction: row;
    top: 500px;
    right: 60px;
}
#stage2_title3 div{
    font-family: 'Century Gothic Regular';
    position: static;
    text-align: right;
   

}
#stage2_title3 div:nth-child(1){
    width: 250px;
    font-size: 1.2rem;
    line-height: 1.3rem;
    padding-right: 20px;
    border-right: 1px solid #FFF;
    font-style: italic;
    font-family: 'Century Gothic Regular';
    text-align: right;
    
} 
#stage2_title3 div:nth-child(1) h4{
    width: 230px;
    height: 50px;
    font-style: normal;
    line-height: 1.3rem !important;
}
#stage2_title3 div:nth-child(2){
    width: 250px;
    font-size: 3rem;
    width: 180px;
    line-height: 3rem;
    padding-left: 10px;
    font-family: 'Century Gothic';
}

.question{
    width: 70%;
    left: 15%;
    top:50px;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.question div:nth-child(1){
    margin-right: 20px;;
} 
.question div:nth-child(2){
    border-left: 3px solid #01a89e;
    padding-left: 10px;
    font-family: 'Century Gothic Regular';
    font-size: 1.2rem;
    line-height: 1.2rem;
}
.options{
    left: 100px;
    top:200px;  
    width: 90%; 
}
.options .num{
    flex-basis: 10%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Century Gothic';
    font-size: 1.6rem;
    color: #fff;
    

  
}
.num p{
    display: block;
    background-color: #01a89e;
    width: 50px !important;
    height: 50px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
.options li{
    display: flex;
    gap: 20px;
    align-items: center;
    cursor: pointer;
    padding: 5px 0 5px 0;
    transition: all 1s ease;
}
.options li span{
    font-family: 'Century Gothic';
    font-size: 1.2rem;
    flex-basis:30%;
}
.retro{
    border-left: 3px solid #01a89e;
    padding-left: 10px;
    font-family: 'Century Gothic Regular';
    line-height: 20px;
    flex-basis: 60%;
    display: none;;

}
.retro span{
    font-family: 'Century Gothic';
    font-size: 20px !important;
    
}

.options li:hover{
    background-color: #01a89d83;
    border-radius: 10px;
}
